{{> emailStyle }}

<p class="email-start">
  Hallo {{ name }},
</p>

<p class="email-body">
  willkommen bei diabetes.page! Wir müssen überprüfen, dass dies tatsächlich deine E-Mail-Adresse ist.
</p>

<p class="email-body">
  <a href="diabetes.page/{{ verificationToken }}">Klicke hier, um deine E-Mail-Adresse zu bestätigen.</a>
</p>

<p class="email-start">
  Viele Grüße
</p>

<p class="email-end">
  Dein diabetes.page Team
</p>