{{> emailStyle }}

<p class="email-start">
  Hi {{ name }}
</p>

<p class="email-body">
  Welcome to diabetes.page! We just have to check that this is really your email address.
</p>

<p class="email-body">
  <a href="diabetes.page/{{ verificationToken }}">Click here to verify your email address.</a>
</p>

<p class="email-start">
  Best wishes
</p>

<p class="email-end">
  Your diabetes.page team
</p>