{{> emailStyle }}

<p class="email-header">
  Hi {{ name }}
</p>
<p class="email-body">Please click <a href="diabetes.page/{{ verificationToken }}">here</a> to verify your account for diabetes.page</p>
