{{> emailStyle }}

<p class="email-header">
  Hallo {{ name }}
</p>
<p class="email-body">Klicken Sie <a href="diabetes.page/{{ verificationToken }}">hier</a> um Ihr Konto für diabetes.page zu überprüfen</p>
